.download {
  margin: 2rem 0;
  width: auto;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}

.download .formats {
  height: 3rem;
  background-color: transparent;
  cursor: pointer;
  width: 10rem;
  padding: 0 1rem;
  border: 1px #cccccc solid;
  text-transform: uppercase;
}

.download .formats option {
  text-transform: uppercase;
}